<div id="printArea" style="direction: rtl;text-align: right;">
    <div style="direction: rtl;text-align: right;width: 100%;margin-bottom: 12px">
        <div style="display: inline-block;padding: 0 10px;vertical-align: text-bottom;">
            <img style="width:75px;height: 75px;" src="assets/images/log_transparent.png" alt="" />
        </div>

        <div style="display: inline-block;vertical-align: top;">
            <p style="font-weight: bold;font-size:20px;color: darkgrey">
                {{ printAllProjects ? 'المشاريع ': selectedProject.name}}
            </p>
            <p style="font-weight: bold;color: darkgrey">
                {{entityl1}} {{entityl2}} {{entityl3}} {{entityl4}}
            </p>
        </div>
    </div>

    <div ng-if="printAllProjects" style="margin:8px">
        <p style="font-weight: bold;color: blue;" ng-if="selectedProject != undefined && projectId != undefined && projectId != ''">
            المشروع: {{selectedProject.name}}
        </p>
        <p style="font-weight: bold;color: blue; margin: 8px" ng-if="stageName != undefined && stageName != ''">
            المرحلة: {{stageName}}
        </p>
        <div ng-repeat="project in projects">
            <p style="font-weight: bold;color: blue"> عنوان المشروع: {{project.name}} </p>

            <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.mainData">
                <h5>البيانات اﻷساسية</h5>
                <p ng-repeat="user in allUsers" ng-if="user._id == project.manager">
                    <span style="font-weight: bold">مدير المشروع:</span> {{user.name}}
                </p>
                <p>
                    <span style="font-weight: bold">التكلفة التقديرية:</span> {{project.approxCost}}
                </p>
                <p><span style="font-weight: bold">مصادر التمويل :</span> {{project.fund}}</p>

            </div>

            <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.quality">
                <h5>اﻷهمية،الإنجاز والجودة</h5>
                <p>
                    <span style="font-weight: bold">حالة المشروع:</span> 
                    <span ng-if="project.status != ''">
                        <span ng-if="project.status == 1"> تحت الدراسة والاعتماد </span>
                        <span ng-if="project.status == 2"> لم يبدء بعد </span>
                        <span ng-if="project.status == 3"> متوقف مؤقتاً</span>
                        <span ng-if="project.status == 4"> منتظم </span>
                        <span ng-if="project.status == 5"> متأخر</span>
                        <span ng-if="project.status == 6"> ملغى</span>
                        <span ng-if="project.status == 7"> منتهي</span>
                        <span ng-if="project.status == 8"> البيانات غير مكتملة </span>
                    </span>
                    <p ng-if="project.status == ''">غير محدد</p>
                </p>
                <p>
                    <span style="font-weight: bold">نسبة الجودة:</span> 
                    <span ng-if="project.quality != ''">{{project.quality}}</span>
                    <span ng-if="project.quality == ''">غير محدد</span>
                </p>
                <p>
                    <span style="font-weight: bold">نسبة الإنجاز:</span> 
                    <span ng-if="project.completed != ''">{{project.completed}}</span>
                    <span ng-if="project.completed == ''">غير محدد</span>
                </p>
                <p ng-if="project.wt != ''">
                    <span style="font-weight: bold">الوزن النسبي:</span>
                    <span ng-if="project.wt == 0">غير محدد</span>
                    <span ng-if="project.wt == 80">كبير جدا</span>
                    <span ng-if="project.wt == 60">كبير</span>
                    <span ng-if="project.wt == 40">متوسط</span>
                    <span ng-if="project.wt == 20">صغير</span>
                    <span ng-if="project.wt == 5">صغير جدا</span>
                </p>
                <p ng-if="project.passed != ''">
                    <span style="font-weight: bold">المنقضي من وقت التنفيذ:</span> <span>{{project.passed}}</span>
                </p>

                <p ng-if="project.passed == '' && project.completed == '' && project.wt == '' && project.quality == '' && project.status == ''">لا يوجد</p>

            </div>

            <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.dates">
                <h5>تواريخ البداية والنهاية</h5>
                <p>
                    <span style="font-weight: bold">تاريخ البداية المخطط: </span>
                    <span ng-if="project.datePlannedStart != 'NaN-NaN-NaN' && project.datePlannedStart != ''">{{project.datePlannedStart}}</span>
                    <span ng-if="project.datePlannedStart == 'NaN-NaN-NaN' || project.datePlannedStart == ''">لا يوجد</span>
                </p>
                <p>
                    <span style="font-weight: bold">تاريخ النهاية المخطط: </span>
                    <span ng-if="project.datePlannedEnd != 'NaN-NaN-NaN' && project.datePlannedEnd != ''">{{project.datePlannedEnd}}</span>
                    <span ng-if="project.datePlannedEnd == 'NaN-NaN-NaN' || project.datePlannedEnd == ''">لا يوجد</span>
                </p>
                <p>
                    <span style="font-weight: bold">تاريخ البداية الفعلي: </span>
                    <span ng-if="project.dateActualStart != 'NaN-NaN-NaN' && project.dateActualStart != ''">{{project.dateActualStart}}</span>
                    <span ng-if="project.dateActualStart == 'NaN-NaN-NaN' || project.dateActualStart == ''">لا يوجد</span>
                </p>
                <p>
                    <span style="font-weight: bold">تاريخ النهاية الفعلي: </span>
                    <span ng-if="project.dateActualEnd != 'NaN-NaN-NaN' && project.dateActualEnd != ''">{{project.dateActualEnd}}</span>
                    <span ng-if="project.dateActualEnd == 'NaN-NaN-NaN' || project.dateActualEnd == ''">لا يوجد</span>

                </p>
            </div>

            <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.team">
            
                <h5>فريق العمل داخليا</h5>
                <div ng-if="project.teamInt.length > 0" style="margin: 10px" ng-repeat="member in project.teamInt">
                    <div ng-repeat="user in allUsers" ng-if="member == user._id">
                        <p>
                            {{user.name}}
                        </p>
                    </div>
                </div>
                <p ng-if="project.teamInt.length == 0">لا يوجد</p>

                <h5>فريق العمل خارجيا</h5>
                <div ng-if="project.teamExt.length > 0" style="margin: 10px" ng-repeat="member in project.teamExt">
                    <div ng-repeat="user in allUsers" ng-if="member == user._id">
                        <p>
                            {{user.name}}
                        </p>
                    </div>
                </div>
                <p ng-if="project.teamExt.length == 0">لا يوجد</p>

            </div>

            <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.entity">
                <h5>الجهات ذات العلاقة</h5>
                <div ng-repeat="(key1,firstLevelValue) in project.entities" ng-if="flatEntities[firstLevelValue.l1] != undefined && flatEntities[firstLevelValue.l1] != '' && flatEntities[firstLevelValue.l1] != 'undefined'">
                    <p style="font-weight: bold;">{{flatEntities[firstLevelValue.l1]}}</p>
                    <div style="padding:5px" ng-if="flatEntities[firstLevelValue.l2] != undefined && flatEntities[firstLevelValue.l2] != '' && flatEntities[firstLevelValue.l2] != 'undefined'">
                        <p style="margin:0 8px;"> &rsaquo; {{flatEntities[firstLevelValue.l2]}} </p>
                        <div style="padding:5px" ng-if="flatEntities[firstLevelValue.l3] != undefined && flatEntities[firstLevelValue.l3] != '' && flatEntities[firstLevelValue.l3] != 'undefined'">
                            <p style="margin:0 16px;"> &rsaquo;&rsaquo; {{flatEntities[firstLevelValue.l3]}}</p>
                            <div style="padding:5px" ng-if="flatEntities[firstLevelValue.l4] != undefined && flatEntities[firstLevelValue.l4] != '' && flatEntities[firstLevelValue.l4] != 'undefined'">
                                <p style="margin:0 24px;"> &rsaquo;&rsaquo;&rsaquo; {{flatEntities[firstLevelValue.l4]}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <p ng-if="!project.entities || project.entities.length == 0">
                    لا يوجد
                </p>
            </div>

            <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.desc">
                <h5>تفصيلات المشروع والخطوات التنفيذية:</h5>
                <p ng-if="project.description != ''">{{project.description}}</p>
                <p ng-if="project.description == ''">لا يوجد</p>
            </div>

            <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.outputs">
                <h5>مخرجات المشروع</h5>
                <div style="margin: 10px" ng-if="project.outputs.length > 0" ng-repeat="output in project.outputs">
                    <p>
                        {{output}}
                    </p>
                </div>

                <p ng-if="!project.outputs || project.outputs.length == 0">لا يوجد</p>
            </div>

            <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.stages">
                <h5>مراحل المشروع</h5>
                <ul ng-if="project.stages.length > 0" ng-repeat="stage in project.stages">
                    <li>
                        {{stage.name}}
                    </li>
                </ul>
                <p ng-if="!project.stages || project.stages.length == 0">لا يوجد</p>
            </div>  

        </div>

    </div>

    <div ng-if="!printAllProjects" style="margin:8px">
        <h4 style="color: blue;" ng-if="selectedProject != undefined">
            عنوان المشروع: {{selectedProject.name}}
        </h4>

        <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.mainData">
            <h5>البيانات اﻷساسية</h5>
            <p ng-repeat="user in allUsers" ng-if="user._id == selectedProject.manager">
                <span style="font-weight: bold">مدير المشروع:</span> <span>{{user.name}}</span>
            </p>
            <!-- <p ng-if="selectedProject.approxCost != 0"> -->
            <p>
                <span style="font-weight: bold">التكلفة التقديرية:</span> <span>{{selectedProject.approxCost}}</span>
            </p>
            <p><span style="font-weight: bold">مصادر التمويل :</span>  {{selectedProject.fund}}</p>

        </div>

        <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.quality">
            <h5>اﻷهمية،الإنجاز والجودة</h5>
            <!-- <p>حالة البرنامج: {{selectedProject.active ? 'نشطة':'تمت'}}</p> -->
            <p>
                <span style="font-weight: bold">حالة المشروع:</span>
                <span ng-if="selectedProject.status != ''">
                    <span ng-if="selectedProject.status == 1"> تحت الدراسة والاعتماد </span>
                    <span ng-if="selectedProject.status == 2"> لم يبدء بعد </span>
                    <span ng-if="selectedProject.status == 3"> متوقف مؤقتاً</span>
                    <span ng-if="selectedProject.status == 4"> منتظم </span>
                    <span ng-if="selectedProject.status == 5"> متأخر</span>
                    <span ng-if="selectedProject.status == 6"> ملغى</span>
                    <span ng-if="selectedProject.status == 7"> منتهي</span>
                    <span ng-if="selectedProject.status == 8"> البيانات غير مكتملة </span>
                </span>
                <p ng-if="selectedProject.status == ''">غير محدد</p>
            </p>
            <p>
                <span style="font-weight: bold">نسبة الجودة:</span> 
                <span ng-if="selectedProject.quality != ''">{{selectedProject.quality}}</span>
                <span ng-if="selectedProject.quality == ''">غير محدد</span>
            </p>
            <p>
                <span style="font-weight: bold">نسبة الإنجاز:</span> 
                <span ng-if="selectedProject.completed != ''">{{selectedProject.completed}}</span>
                <span ng-if="selectedProject.completed == ''">غير محدد</span>
            </p>

            <p ng-if="selectedProject.wt != ''">
                <span style="font-weight: bold">الوزن النسبي:</span> 
                <span ng-if="selectedProject.wt == 0">غير محدد</span>
                <span ng-if="selectedProject.wt == 80">كبير جدا</span>
                <span ng-if="selectedProject.wt == 60">كبير</span>
                <span ng-if="selectedProject.wt == 40">متوسط</span>
                <span ng-if="selectedProject.wt == 20">صغير</span>
                <span ng-if="selectedProject.wt == 5">صغير جدا</span>
            </p>
            <p ng-if="selectedProject.passed != ''">
                <span style="font-weight: bold">المنقضي من وقت التنفيذ:</span> <span>{{selectedProject.passed}}</span>
            </p>

            <p ng-if="selectedProject.passed == '' && selectedProject.completed == '' && selectedProject.wt == '' && selectedProject.quality == '' && selectedProject.quality == ''">لا يوجد</p>
        </div>

        <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.dates">
            <h5>تواريخ البداية والنهاية</h5>
            <p>
                <span style="font-weight: bold">تاريخ البداية المخطط: </span>
                <span ng-if="selectedProject.datePlannedStart != 'NaN-NaN-NaN' && selectedProject.datePlannedStart != ''">{{selectedProject.datePlannedStart}}</span>
                <span ng-if="selectedProject.datePlannedStart == 'NaN-NaN-NaN' || selectedProject.datePlannedStart == ''">لا يوجد</span>
            </p>
            <p>
                <span style="font-weight: bold">تاريخ النهاية المخطط: </span>
                <span ng-if="selectedProject.datePlannedEnd != 'NaN-NaN-NaN' && selectedProject.datePlannedEnd != ''">{{selectedProject.datePlannedEnd}}</span>
                <span ng-if="selectedProject.datePlannedEnd == 'NaN-NaN-NaN' || selectedProject.datePlannedEnd == ''">لا يوجد</span>
            </p>
            <p>
                <span style="font-weight: bold">تاريخ البداية الفعلي: </span>
                <span ng-if="selectedProject.dateActualStart != 'NaN-NaN-NaN' && selectedProject.dateActualStart != ''">{{selectedProject.dateActualStart}}</span>
                <span ng-if="selectedProject.dateActualStart == 'NaN-NaN-NaN' || selectedProject.dateActualStart == ''">لا يوجد</span>
            </p>
            <p>
                <span style="font-weight: bold">تاريخ النهاية الفعلي: </span>
                <span ng-if="selectedProject.dateActualEnd != 'NaN-NaN-NaN' && selectedProject.dateActualEnd != ''">{{selectedProject.dateActualEnd}}</span>
                <span ng-if="selectedProject.dateActualEnd == 'NaN-NaN-NaN' || selectedProject.dateActualEnd == ''">لا يوجد</span>

            </p>
        </div>

        <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.team">
            
            <h5>فريق العمل داخليا</h5>
            <div ng-if="selectedProject.teamInt.length > 0" style="margin: 10px" ng-repeat="member in selectedProject.teamInt">
                <div ng-repeat="user in allUsers" ng-if="member == user._id">
                    <p>
                        {{user.name}}
                    </p>
                </div>
            </div>
            <p ng-if="selectedProject.teamInt.length == 0">لا يوجد</p>

            <h5>فريق العمل خارجيا</h5>
            <div ng-if="selectedProject.teamExt.length > 0" style="margin: 10px" ng-repeat="member in selectedProject.teamExt">
                <div ng-repeat="user in allUsers" ng-if="member == user._id">
                    <p>
                        {{user.name}}
                    </p>
                </div>
            </div>
            <p ng-if="selectedProject.teamExt.length == 0">لا يوجد</p>

        </div>

        <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.entity">
            <h5>الجهات ذات العلاقة</h5>
            <div ng-if="selectedProject['entities'].length > 0">
                <div ng-repeat="(key1,firstLevelValue) in selectedEntitiesArray" ng-if="flatEntities[key1] != undefined && flatEntities[key1] != '' && flatEntities[key1] != 'undefined'">
                    <p style="font-weight: bold;">{{flatEntities[key1]}} </p>
                    <div style="padding:5px" ng-repeat="(key2,secondLevelValue) in firstLevelValue" ng-if="flatEntities[key2] != undefined && flatEntities[key2] != '' && flatEntities[key2] != 'undefined'">
                        <p style="margin:0 8px;"> &rsaquo; {{flatEntities[key2]}} </p>
                        <div style="padding:5px" ng-repeat="(key3,thirdLevelValue) in secondLevelValue" ng-if="flatEntities[key3] != undefined && flatEntities[key3] != '' && flatEntities[key3] != 'undefined'">
                            <p style="margin:0 16px;"> &rsaquo;&rsaquo; {{flatEntities[key3]}}</p>
                            <div style="padding:5px" ng-repeat="(key4,fourthLevelValue) in thirdLevelValue" ng-if="flatEntities[key4] != undefined && flatEntities[key4] != '' && flatEntities[key4] != 'undefined'">
                                <p style="margin:0 24px;"> &rsaquo;&rsaquo;&rsaquo; {{flatEntities[key4]}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <p ng-if="!selectedProject.entities || selectedProject.entities.length == 0">
                لا يوجد
            </p>
        </div>

        <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.desc">
            <h5>تفصيلات المشروع والخطوات التنفيذية:</h5>
            <p ng-if="selectedProject.description != ''">{{selectedProject.description}}</p>
            <p ng-if="selectedProject.description == ''">لا يوجد</p>
        </div>

        <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.outputs">
            <h5>مخرجات المشروع</h5>
            <div style="margin: 10px" ng-if="selectedProject.outputs && selectedProject.outputs.length > 0" ng-repeat="output in selectedProject.outputs">
                <p>
                    {{output}}
                </p>
            </div>
            <p ng-if="!selectedProject.outputs || selectedProject.outputs.length == 0">لا يوجد</p>
        </div>

        <div style="border-bottom: 1px solid #ddd;" ng-if="reportForm.stages">
            <h5>مراحل المشروع</h5>
            <ul ng-if="selectedProject.stages.length > 0" ng-repeat="stage in selectedProject.stages">
                <li>
                    {{stage.name}}
                </li>
            </ul>
            <p ng-if="!selectedProject.stages || selectedProject.stages.length == 0">لا يوجد</p>
        </div>      
        
    </div>


</div>
