<!-- Content area -->
<!--
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse"  href="#collapse#">
      <h4 class="panel-title">
        <a > <i class="fa fa-arrow-up" aria-hidden="true"></i> الفلتره </a>
      </h4>
    </div>

    <div id="collapse#" class="panel-collapse collapse">
      <div class="panel-body">

      </div>
    </div>
  </div>
-->
<div class="content">
    <div class="">
        <div class="page-header-content">
            <div class="page-title">
                <!-- <h3> -->
                <span style="font-size: 21px" class="text-semibold"> تعريف المهام </span>
                <i class="fa fa-print fa-2x action-icon" style="float: left" ng-click="reportTempate()" aria-hidden="true"></i>
                <!-- </h3> -->
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">
                        <!-- List of tasks -->
                        <div class="panel panel-default">
                          <div class="panel-heading" data-toggle="collapse"  href="#collapse1">
                            <h4 class="panel-title">
                              <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> المهمة </a>
                            </h4>
                          </div>
                          <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="col-md-12">
                                  <div class="form-group">

                                      <select multiple="multiple" class="form-control">
                                          <option ng-repeat="task in tasks" ng-click="onTaskClicked(task)"> {{task.name}} </option>
                                      </select>
                                  </div>
                              </div>
                              <div class="text-right">
                                  <i class="fa fa-plus fa-2x text-green action-icon" ng-click="addNewTask()" aria-hidden="true"></i>
                                  <i class="fa fa-floppy-o fa-2x action-icon" ng-click="editTask(taskObject,taskForm.$valid)" aria-hidden="true"></i>
                                  <i class="fa fa-times fa-2x text-danger action-icon" ng-click="deleteTask()" aria-hidden="true"></i>

                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- List of filters -->
                        <div class="panel panel-default">
                          <div class="panel-heading" data-toggle="collapse"  href="#collapse3">
                            <h4 class="panel-title">
                              <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> اﻷهداف </a>
                            </h4>
                          </div>

                          <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> اختيار الهدف الإستراتيجي </label>
                                      <select name="select" class="form-control" ng-model="goalsModel.strategicGoal" ng-change="onStrategicGoalSelected()">
                                          <option value="">جميع الأهداف الاستراتيجية</option>
                                          <option value="{{$index}}" ng-repeat="mainGoal in strategicGoals">
                                              {{mainGoal.name}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> اختيار الهدف التفصيلي </label>
                                      <select name="select" class="form-control" ng-model="goalsModel.secondaryGoal" ng-change="onSecondaryGoalSelected()" ng-disabled="disableSecondaryGoal">
                                          <option value="">جميع الأهداف التفصيلية</option>
                                          <option value="{{key}}" ng-repeat="(key, value) in selectedStrategicGoal.subgoals">
                                              {{value.name}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" data-toggle="collapse"  href="#collapse13">
                            <h4 class="panel-title">
                              <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> البرامج </a>
                            </h4>
                          </div>

                          <div id="collapse13" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label> البرنامج </label>
                                      <select name="select" class="form-control" ng-model="programId" ng-change="filterProjects()">
                                          <option value="">جميع البرامج</option>
                                          <option ng-repeat="program in programs" value="{{program._id}}">{{program.name}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" data-toggle="collapse"  href="#collapse14">
                            <h4 class="panel-title">
                              <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> المشاريع </a>
                            </h4>
                          </div>

                          <div id="collapse14" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label> المشروع </label>
                                      <select name="select" class="form-control" ng-model="projectId" ng-change="onProjectSelected()">
                                          <option value="">جميع المشاريع</option>
                                          <option ng-repeat="project in projects" value="{{project._id}}">{{project.name}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" data-toggle="collapse"  href="#collapse15">
                            <h4 class="panel-title">
                              <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> المراحل </a>
                            </h4>
                          </div>

                          <div id="collapse15" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label> المرحلة </label>
                                      <select name="select" class="form-control" ng-model="stageName" ng-change="onStageSelected()">
                                          <option value=""> جميع المراحل</option>
                                          <option ng-repeat="stage in selectedProject.stages" value="{{stage.name}}">{{stage.name}}</option>
                                      </select>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- List of Importance and Achievements -->
                        <div class="panel panel-default">
                          <div class="panel-heading" data-toggle="collapse"  href="#collapse4">
                            <h4 class="panel-title">
                              <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> الاهميه ،الإنجاز و الجوده </a>
                            </h4>
                          </div>

                          <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> الحجم/اﻷهمية (بالنسبة للمشروع)</label>
                                      <br/><br/>
                                      <input ng-model="filterWt" type="number" class="form-control" step="5" min="0" max="100">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <label> نسبه الإنجاز </label>
                                  <div class="form-group">
                                      <span>من</span><input ng-model="filterCompleteFrom" type="number" class="form-control" step="5" min="0" max="100">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <label> <br/> </label>
                                  <div class="form-group">
                                      <span> إلى</span><input ng-model="filterCompleteTo" type="number" class="form-control" step="5" min="0" max="100">
                                  </div>
                              </div>

                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> الحاله الرهانه </label>
                                      <br/><br/>
                                      <select name="select" class="form-control" ng-change="fn(item)" ng-model="value">
                                          <option value="" ng-disabled>إختر الحاله </option>
                                          <option value="{{$index}}" ng-repeat="item in [' لم تبدء بعد',' تحت التنفيذ تبعاً للمخطط ',' تحت التنفيذ وتسبق المخطط ','تحت التنفيذ ولكن متأخرة','تحت الدراسة والاعتماد ','تحت الدراسة والاعتماد','لم تبدء بعدت',' متوقفة مؤقتاً ',' ملغاه ','منتهية ']">
                                              {{item}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <label> نسبه الجوده </label>
                                  <div class="form-group">
                                      <span>من</span><input ng-model="filterQualityFrom" type="number" class="form-control" step="5" min="0" max="100">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <label> <br/> </label>
                                  <div class="form-group">
                                      <span> إلى</span><input ng-model="filterQualityTo" type="number" class="form-control" step="5" min="0" max="100">
                                  </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <!-- List of level of association -->
                        <!-- <div class="panel panel-default">
                          <div class="panel-heading" data-toggle="collapse"  href="#collapse2">
                            <h4 class="panel-title">
                              <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> المستويات </a>
                            </h4>
                          </div>
                          <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> المستوى الأول </label>
                                      <select name="select" class="form-control" ng-change="onAssociationSelected('level1')" ng-model="entitiesModel.firstLevel">
                                          <option value="">جميع الجهات</option>
                                          <option value="{{$index}}" ng-repeat="association in associations">
                                              {{association.name}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> المستوى الثاني </label>
                                      <select name="select" class="form-control" ng-model="entitiesModel.secondLevel" ng-change="onAssociationSelected('level2')"
                                          ng-disabled="disableSecondLevel">
                                          <option value="">جميع الجهات</option>
                                          <option value="{{key}}" ng-repeat="(key, value) in selectedFirstLevelObject.children">
                                              {{value.name}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> المستوى الثالث </label>
                                      <select name="select" class="form-control" ng-model="entitiesModel.thirdLevel" ng-change="onAssociationSelected('level3')"
                                          ng-disabled="disablethirdLevel">
                                          <option value=""> جميع الجهات</option>
                                          <option value="{{key}}" ng-repeat="(key, value) in selectedSecondLevelObject.children">
                                              {{value.name}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> المستوى الرابع </label>
                                      <select name="select" class="form-control" ng-model="entitiesModel.fourthLevel" ng-change="onAssociationSelected('level4')"
                                          ng-disabled="disableFourthLevel">
                                          <option value=""> جميع الجهات</option>
                                          <option value="{{key}}" ng-repeat="(key, value) in selectedThirdLevelObject.children">{{value.name}}
                                          </option>
                                      </select>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                        <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse"  href="#collapse2">
                            <h4 class="panel-title">
                              <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> اﻷشخاص والجهات ذوي العلاقة </a>
                            </h4>
                        </div>

                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>اﻷشخاص ذوي العلاقة</label>
                                        <select multiple="multiple" class="form-control" style="height: 214px">
                                            <option ng-repeat="user in filterTeamArr track by $index" ng-click="deleteTeamMember($index)">{{user.name}}</option>
                                        </select>
                                        <div class="text-right">
                                            <i class="fa fa-plus fa-2x text-green action-icon" aria-hidden="true" ng-click="filterTaskTeam()"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>الجهات ذات العلاقة</label>
                                        <textarea rows="3" class="form-control"></textarea>
                                        
                                        <div class="text-right">
                                            <i class="fa fa-plus fa-2x text-green action-icon" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form name="taskForm">
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">

                      <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse"  href="#collapse5">
                          <h4 class="panel-title">
                            <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> عنوان مهمة </a>
                          </h4>
                        </div>

                        <div id="collapse5" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="col-md-12">
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="مهمة " required ng-model="taskObject.name">
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse"  href="#collapse6">
                          <h4 class="panel-title">
                            <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> البيانات الاساسية </a>
                          </h4>
                        </div>

                        <div id="collapse6" class="panel-collapse collapse">
                          <div class="panel-body">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> حالة المهمة </label>
                                    <select name="select" class="form-control" ng-model="taskObject.active">
                                        <option value="" disabled> حالة المهمة </option>
                                        <option value="true"> نشطة</option>
                                        <option value="false">تمت</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> مدير المهمة </label>
                                    <select name="select" class="form-control" ng-model="taskObject.manager">
                                        <option value="" disabled> مدير المهمة</option>
                                        <option ng-repeat="user in usersList" value="{{user._id}}">{{user.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> المرحلة </label>
                                    <select name="select" class="form-control" ng-model="taskObject.stage">
                                        <option value=""> غير محدد</option>
                                        <option ng-repeat="stage in selectedProject.stages" value="{{stage.name}}">{{stage.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> التكلفة التقديرية </label>
                                    <input type="number" class="form-control" placeholder="10,000" ng-model="taskObject.approxCost">
                                </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse"  href="#collapse7">
                          <h4 class="panel-title">
                            <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> اﻷهمية، الانجاز والجودة </a>
                          </h4>
                        </div>

                        <div id="collapse7" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> الحجم/اﻷهمية (بالنسبة للمشروع) </label>
                                      <span><input type="checkbox" ng-model="isDigital">
                                        يعرف رقميا</span>
                                      <select name="select"  ng-model="taskObject.wt" class="form-control" ng-disabled="!isDigital ? false : true">
                                          <option value="0" selected disabled>غير محدد</option>
                                          <option value="80">كبير جدا</option>
                                          <option value="60">كبير</option>
                                          <option value="40">متوسط</option>
                                          <option value="20">صغير</option>
                                          <option value="5">صغير جدا</option>
                                      <select>
                                  </div>
                                  <div class="form-group">
                                      <label> الوزن النسبي(من المشروع) </label><br/>
                                      <input class="form-control" type="text" ng-disabled="isDigital ? false : true"  name="" ng-model="taskObject.wt">
                                  </div>
                                  <div class="form-group">
                                      <label> %المنقضي من وقت التنفيذ </label>
                                      <input class="form-control" type="text" disabled name="" ng-model="passed">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <!-- <div class="form-group">
                                      <label> الحاله الراهنة (تحسب اتوماتيكيا) </label>
                                      <input type="text" class="form-control" placeholder="0" required>
                                  </div> -->
                                  <div class="form-group">
                                      <label> حالة البرنامج </label>
                                      <span><input type="checkbox" ng-model="isAuto" ng-change="calcAuto()">
                                        يحسب اتوماتيكيا</span>
                                      <select ng-model="taskObject.status" name="select" class="form-control" ng-disabled="!isAuto ? false : true">
                                          <option value="" ng-disabled="">حالة البرنامج</option>
                                          <option ng-show="isAuto"  value="1"> لم تبدء بعد</option>
                                          <option ng-show="isAuto"  value="2"> تحت التنفيذ تبعاً للمخطط </option>
                                          <option ng-show="isAuto"  value="3"> تحت التنفيذ وتسبق المخطط </option>
                                          <option ng-show="isAuto"  value="4">تحت التنفيذ ولكن متأخرة </option>
                                          <option ng-show="isAuto"  value="5">تحت الدراسة والاعتماد </option>
                                          <option ng-show="!isAuto" value="6"> لم تبدء بعدت </option>
                                          <option ng-show="!isAuto" value="7"> متوقفة مؤقتاً  </option>
                                          <option ng-show="!isAuto" value="8"> ملغاه </option>
                                          <option ng-show="!isAuto" value="9"> منتهية  </option>
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label> نسبة الجودة </label>
                                      <input type="number" class="form-control" name="quality" min="{{min}}" max="{{max}}" ng-model="taskObject.quality" required step="10" />
                                      <div style="color: #ff0000" role="alert" ng-if="taskForm.quality.$dirty">
                                          <div ng-show="taskForm.quality.$error.required">يجب ادخال قيمة</div>
                                          <div ng-show="taskForm.quality.$error.min">اقل قيمة يمكن ادخالها {{min}}.</div>
                                          <div ng-show="taskForm.quality.$error.max">أكبر قيمة يمكن ادخالها {{max}}.</div>
                                          <div ng-show="taskForm.quality.$error.number">يجب ادخال ارقام فقط.</div>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label> نسبة الإنجاز </label>
                                      <input type="number" class="form-control" name="acheive" min="{{min}}" max="{{max}}" ng-model="taskObject.completed" required step="10" />
                                      <div style="color: #ff0000" role="alert" ng-if="taskForm.acheive.$dirty">
                                          <div ng-show="taskForm.acheive.$error.required">يجب ادخال قيمة</div>
                                          <div ng-show="taskForm.acheive.$error.min">اقل قيمة يمكن ادخالها {{min}}.</div>
                                          <div ng-show="taskForm.acheive.$error.max">أكبر قيمة يمكن ادخالها {{max}}.</div>
                                          <div ng-show="taskForm.acheive.$error.number">يجب ادخال ارقام فقط.</div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse"  href="#collapse8">
                          <h4 class="panel-title">
                            <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> تواريخ البداية والنهارة </a>
                          </h4>
                        </div>

                        <div id="collapse8" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> تاريخ البداية المخطط </label>

                                      <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="icon-calendar22"></i>
                                          </span>
                                          <input type="date" class="form-control daterange-single" ng-model="taskObject.datePlannedStart">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> تاريخ النهاية المخطط </label>

                                      <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="icon-calendar22"></i>
                                          </span>
                                          <input type="date" class="form-control daterange-single" placeholder="03/18/2013" ng-model="taskObject.datePlannedEnd">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> تاريخ البداية الفعلي </label>

                                      <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="icon-calendar22"></i>
                                          </span>
                                          <input type="date" class="form-control daterange-single" placeholder="03/18/2013" ng-model="taskObject.dateActualStart">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label> تاريخ النهاية الفعلي </label>

                                      <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="icon-calendar22"></i>
                                          </span>
                                          <input type="date" class="form-control daterange-single" placeholder="03/18/2013" ng-model="taskObject.dateActualEnd">
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse"  href="#collapse9">
                          <h4 class="panel-title">
                            <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> فريق العمل </a>
                          </h4>
                        </div>

                        <div id="collapse9" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>فريق العمل داخليا</label>
                                  <select multiple="multiple" class="form-control">
                                      <option ng-repeat="user in internalTeamArr track by $index" ng-click="deleteMember($index,'internal')">{{user.name}}</option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>فريق العمل خارجياً</label>
                                  <select multiple="multiple" class="form-control">
                                      <option ng-repeat="user in externalTeamArr track by $index" ng-click="deleteMember($index,'external')">{{user.name}}</option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="text-right" style="margin-top: 8px">
                                <i class="fa fa-plus fa-2x text-green action-icon" aria-hidden="true" ng-click="addTeamToTask()"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                          <div class="panel-heading" data-toggle="collapse"  href="#collapse10">
                              <h4 class="panel-title">
                                <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> الجهات ذات العلاقة </a>
                              </h4>
                          </div>
                          <div id="collapse10" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label>الجهات المختارة</label>
                                          <div class="form-control" style="height: 150px;padding: 7px; overflow: auto;">
                                              <div ng-repeat="(key1,firstLevelValue) in selectedEntitiesArray" ng-if="flatEntities[key1] != undefined && flatEntities[key1] != '' && flatEntities[key1] != 'undefined'">
                                                  <p style="font-weight: bold; cursor: pointer" ng-click="deleteEntityFromProgram('firstLevel',key1)">{{flatEntities[key1]}} </p>
                                                  <div style="padding:5px" ng-repeat="(key2,secondLevelValue) in firstLevelValue" ng-if="flatEntities[key2] != undefined && flatEntities[key2] != '' && flatEntities[key2] != 'undefined'">
                                                      <p style="margin:0 8px; cursor: pointer" ng-click="deleteEntityFromProgram('secondLevel',key1,key2)"> &rsaquo; {{flatEntities[key2]}} </p>
                                                      <div style="padding:5px" ng-repeat="(key3,thirdLevelValue) in secondLevelValue" ng-if="flatEntities[key3] != undefined && flatEntities[key3] != '' && flatEntities[key3] != 'undefined'">
                                                          <p style="margin:0 16px; cursor: pointer" ng-click="deleteEntityFromProgram('thirdLevel',key1,key2,key3)"> &rsaquo;&rsaquo; {{flatEntities[key3]}}</p>
                                                          <div style="padding:5px" ng-repeat="(key4,fourthLevelValue) in thirdLevelValue" ng-if="flatEntities[key4] != undefined && flatEntities[key4] != '' && flatEntities[key4] != 'undefined'">
                                                              <p style="margin:0 24px; cursor: pointer" ng-click="deleteEntityFromProgram('fourthLevel',key1,key2,key3,key4)"> &rsaquo;&rsaquo;&rsaquo; {{flatEntities[key4]}}</p>
                                                          </div>
                                                      </div>
                                                  </div>

                                              </div>
                                          </div>
                                          <div class="text-right" style="margin-top: 8px">
                                              <i class="fa fa-plus fa-2x text-green action-icon" aria-hidden="true" ng-click="addEntityToProgram()"></i>
                                              <!-- <i class="fa fa-floppy-o fa-2x action-icon" aria-hidden="true" ng-click="editProgram(programForm,newProgramForm.$valid)"></i> -->
                                              <!-- <i class="fa fa-times fa-2x text-danger action-icon" ng-click="deleteProgram()" aria-hidden="true"></i> -->
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse"  href="#collapse11">
                          <h4 class="panel-title">
                            <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> التفصيلات ومطالب التنفيذ </a>
                          </h4>
                        </div>

                        <div id="collapse11" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label> تفصيلات المهمة والخطوات التنفيذية </label>
                                    <textarea rows="3" class="form-control" ng-model="taskObject.description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label> مطالب التنفيذ - الأدوات </label>
                                    <textarea rows="3" class="form-control" ng-model="taskObject.requirements"></textarea>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse"  href="#collapse12">
                          <h4 class="panel-title">
                            <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> مؤشرات اﻷداء </a>
                          </h4>
                        </div>

                        <div id="collapse12" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea rows="3" class="form-control" ng-model="taskObject.kpis"></textarea>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </form>
        </div>
        <script>

        $(".collapse").on('show.bs.collapse', function(){
            $($(this).siblings().find("h4 > a > i.fa")[0]).removeClass("fa-arrow-down");
            $($(this).siblings().find("h4 > a > i.fa")[0]).addClass("fa-arrow-up");
         });
         $(".collapse").on('hide.bs.collapse', function(){
            $($(this).siblings().find("h4 > a > i.fa")[0]).removeClass("fa-arrow-up");
            $($(this).siblings().find("h4 > a > i.fa")[0]).addClass("fa-arrow-down");
          });
          $(".collapse").collapse("hide");
        </script>
    </div>


    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2017. كلية المسجد النبوي - </a> جميع الحقوق محفوظة.
    </div>
    <!-- /footer -->
</div>
