<div class="content">
    <div class="">
        <div class="page-header-content">
            <div class="page-title">
                <!-- <h3> -->
                    <span class="text-semibold"> تعريف الأهداف </span>
                    <i class="fa fa-print fa-2x action-icon" style="float: left" ng-click="reportTempate()" aria-hidden="true"></i>
                <!-- </h3> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form name="strategicGoalForm">
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">

                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse1">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i>الأهداف الرئيسية</a>
                                </h4>
                            </div>

                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <hr>
                                        <div class="form-group">
                                            <label> </label>
                                            <select multiple="multiple" class="form-control height-45-vh">
                                                <option ng-repeat="mainGoal in strategicGoals" ng-click="onStrategicGoalSelected(mainGoal,$index)">
                                                    {{mainGoal.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="text-right">
                                            <i class="fa fa-plus fa-2x text-green action-icon" ng-click="addStrategicGoal(strategicGoalForm.$valid)" aria-hidden="true"></i>
                                            <i class="fa fa-floppy-o fa-2x action-icon" ng-click="editStrategicGoal(strategicGoalForm.$valid)" aria-hidden="true"></i>
                                            <i class="fa fa-times fa-2x text-danger action-icon" ng-click="deleteStrategicGoal()" aria-hidden="true"></i>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse2">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> العنوان </a>
                                </h4>
                            </div>

                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <hr>
                                            <textarea rows="3" class="form-control" placeholder="" ng-model="strategicGoalModel" required></textarea>
                                            <hr>
                                        </div>
                                    </div>

                                    <hr>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse3">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> النسبة المئوية من كامل الخطة </a>
                                </h4>
                            </div>

                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <!-- <input type="text" class="form-control" numbers-only ng-model="number" min="0" max="100" required> -->
                                            <input
                                                  type="number"
                                                  class="form-control"
                                                  name="val1"
                                                  min="{{min}}" max="{{max}}"
                                                  ng-model="selectedStrategicGoal.wt"
                                                  required
                                                  step="5"
                                            />

                                        </div>
                                        <div style="color: #ff0000" role="alert" ng-if="strategicGoalForm.val1.$dirty">
                                            <div ng-show="strategicGoalForm.val1.$error.required">يجب ادخال قيمة</div>
                                            <div ng-show="strategicGoalForm.val1.$error.min">اقل قيمة يمكن ادخالها {{min}}.</div>
                                            <div ng-show="strategicGoalForm.val1.$error.max">أكبر قيمة يمكن ادخالها {{max}}.</div>
                                            <div ng-show="strategicGoalForm.val1.$error.number">يجب ادخال ارقام فقط</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse4">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> نسبة التحقق </a>
                                </h4>
                            </div>

                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p>{{ selectedStrategicGoal.completed ||0 }}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse5">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> البرامج المرتبطة </a>
                                </h4>
                            </div>

                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                          <ul id="Mainprojects">
                                            <li data-id="{{ project._id }}" ng-repeat="project in MainrelatedProjects">
                                                {{ project.name }}
                                            </li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse6">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> المشاريع المرتبطة </a>
                                </h4>
                            </div>

                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                          <ul id="Mainprogram">
                                            <li data-id="{{ program._id }}" ng-repeat="program in MainrelatedPrograms">
                                                {{ program.name }}
                                            </li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form name="secondaryGoalForm">
                <div class="panel panel-flat">
                    <div class="panel-body height-70-vh">

                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse7">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> الأهداف الفرعية </a>
                                </h4>
                            </div>

                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label></label>
                                            <select multiple="multiple" class="form-control height-45-vh">
                                                <option ng-repeat="(key, value) in selectedStrategicGoal.subgoals" ng-click="onSecondaryGoalSelected(key,$index,value)">
                                                    {{value.name}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="text-right">
                                            <i class="fa fa-plus fa-2x text-green action-icon" ng-click="addSecondaryGoal(secondaryGoalForm.$valid)" aria-hidden="true"></i>
                                            <i class="fa fa-floppy-o fa-2x action-icon" ng-click="editSecondaryGoal(secondaryGoalForm.$valid)" aria-hidden="true"></i>
                                            <i class="fa fa-times fa-2x text-danger action-icon" ng-click="deleteSecondaryGoal()" aria-hidden="true"></i>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse8">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> العنوان </a>
                                </h4>
                            </div>

                            <div id="collapse8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea rows="3" class="form-control" placeholder="" ng-model="secondaryGoalModel" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse9">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"> </i>النسبه المئوية من الهدف الاساسي</a>
                                </h4>
                            </div>

                            <div id="collapse9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                          <!-- <textarea rows="3" class="form-control" placeholder="" ng-model="secondaryGoalModel" required></textarea> -->
                                            <input
                                                  type="number"
                                                  class="form-control"
                                                  name="val2"
                                                  min="{{min}}" max="{{max}}"
                                                  ng-model="selectedSecondaryGoal.wt"
                                                  required
                                                  step="5"
                                            />

                                        </div>
                                        <div style="color: #ff0000" role="alert" ng-if="secondaryGoalForm.val2.$dirty">
                                            <div ng-show="secondaryGoalForm.val2.$error.required">يجب ادخال قيمة</div>
                                            <div ng-show="secondaryGoalForm.val2.$error.min">اقل قيمة يمكن ادخالها {{min}}.</div>
                                            <div ng-show="secondaryGoalForm.val2.$error.max">أكبر قيمة يمكن ادخالها {{max}}.</div>
                                            <div ng-show="secondaryGoalForm.val2.$error.number">يجب ادخال ارقام فقط</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse10">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> نسبة التحقق </a>
                                </h4>
                            </div>

                            <div id="collapse10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                          <input
                                                type="number"
                                                class="form-control"
                                                name="val2"
                                                min="{{min}}" max="{{max}}"
                                                ng-model="selectedSecondaryGoal.completed"
                                                required
                                                step="5"
                                          />
                                        </div>
                                        <div style="color: #ff0000" role="alert" ng-if="secondaryGoalForm.val3.$dirty">
                                            <div ng-show="secondaryGoalForm.val3.$error.required">يجب ادخال قيمة</div>
                                            <div ng-show="secondaryGoalForm.val3.$error.min">اقل قيمة يمكن ادخالها {{min}}.</div>
                                            <div ng-show="secondaryGoalForm.val3.$error.max">أكبر قيمة يمكن ادخالها {{max}}.</div>
                                            <div ng-show="secondaryGoalForm.val3.$error.number">يجب ادخال ارقام فقط</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse11">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> البرامج المرتبطة </a>
                                </h4>
                            </div>

                            <div id="collapse11" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                          <ul id="projects">
                                            <li data-id="{{ project._id }}" ng-repeat="project in relatedProjects">
                                                {{ project.name }}
                                            </li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse"  href="#collapse12">
                                <h4 class="panel-title">
                                    <a > <i class="fa fa-arrow-down" aria-hidden="true"></i> المشاريع المرتبطة </a>
                                </h4>
                            </div>

                            <div id="collapse12" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                          <ul id="program">
                                            <li data-id="{{ program._id }}" ng-repeat="program in relatedPrograms">
                                                {{ program.name }}
                                            </li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>

    </script>
    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2017. كلية المسجد النبوي -  جميع الحقوق محفوظة.
    </div>
    <!-- /footer -->
</div>
