<div class="row">
	<div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="inlineCheckbox1" ng-model="reportForm.strategic.goal">
                    <label for="inlineCheckbox1"> الأهداف اﻷستراتيجية </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="inlineCheckbox3" ng-model="reportForm.strategic.percent">
                    <label for="inlineCheckbox3"> النسبة المئوية من كامل الخطة </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="inlineCheckbox5" ng-model="reportForm.strategic.completed">
                    <label for="inlineCheckbox5"> نسبة التحقق </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="inlineCheckbox7" ng-model="reportForm.strategic.programs">
                    <label for="inlineCheckbox7"> البرامج المرتبطة </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="inlineCheckbox9" ng-model="reportForm.strategic.projects">
                    <label for="inlineCheckbox9"> المشاريع المرتبطة </label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        	<div class="form-group">
	            <div class="checkbox">
	                <input type="checkbox" id="inlineCheckbox2" ng-model="reportForm.secondary.goal">
	                <label for="inlineCheckbox2"> الأهداف التفصيلية </label>
	            </div>
	        </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="inlineCheckbox4" ng-model="reportForm.secondary.percent">
                    <label for="inlineCheckbox4"> النسبة المئوية من الهدف اﻷسترتيجي </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="inlineCheckbox6" ng-model="reportForm.secondary.completed">
                    <label for="inlineCheckbox6"> نسبة التحقق  </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="inlineCheckbox8" ng-model="reportForm.secondary.programs">
                    <label for="inlineCheckbox8"> البرامج المرتبطة </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="inlineCheckbox10" ng-model="reportForm.secondary.projects">
                    <label for="inlineCheckbox10"> المشاريع المرتبطة </label>
                </div>
            </div>
        </div>
    </div>
    
</div>